/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
}

/* Navbar */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.logo span {
    color: #00c6ff;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #00c6ff;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 100vh;
    background: url(imges/background.avif)
                center/cover no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.hero-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 28px;
    background: #00c6ff;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #008ec0;

}


/* About Page */

.about-section {
    padding: 120px 60px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.about-text {
    flex: 1 1 400px;
}

.about-text h1 {
    font-size: 38px;
    color: #00a4d6;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-img {
    flex: 1 1 400px;
}

.about-img img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
/* Contact Page */

.contact-section {
    padding: 120px 60px;
    text-align: center;
}

.contact-section h1 {
    font-size: 38px;
    color: #00a4d6;
    margin-bottom: 35px;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    padding: 12px;
    border: none;
    background: #00c6ff;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #008ec0;
}
/* Trips Page */

.trips-section {
    padding: 120px 60px;
    background: #fdfdfd;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #00a4d6;
}

.trips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}

.trip-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 119, 255, 0.15);
    transition: .3s;
}

.trip-card:hover {
    transform: translateY(-25px);
}

.trip-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.trip-card h3 {
    font-size: 22px;
    margin: 15px 0 10px;
    color: #00a4d6;
}

.trip-card p {
    padding: 0 15px;
    margin-bottom: 15px;
    color: #444;
}

.btn-book {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #00c6ff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-book:hover {
    background: #008ec0;
}

